In [8]:
print('Bem vindos ao desafio House Prices: esse é meu primeiro contato com Pandas e com Data Science no geral')

Bem vindos ao desafio House Prices: esse é meu primeiro contato com Pandas e com Data Science no geral

In [2]:
#Instalando o pandas pela primeira vez
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bagan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bagan\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\bagan\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.5 MB 7.3 MB/s eta 0:00:02
   ----------- ---------------------------- 3.4/11.5 MB 7.7 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.5 MB 7.8 MB/s eta 0:00:01
   ----------------------- ---------------- 6.8/11.5 MB 7.6 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.5 MB 7.8 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 7.9 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 7.8 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
#Importando o pandas como 'pd', para utilizar como comando
import pandas as pd

In [9]:
#Entendendo como funcionam dataframes
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [7]:
#chamando coluna uma única coluna 
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64